<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day 3.Name, month, day, submit button -->
                <form action="/" method="post">
                    <input placeholder="Name" type="text" name="name">
                    <input placeholder="Month" type="text" name="month">
                    <input placeholder="Day" type="text" name="day">
                    <button type="submit">Add a Birthday</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table 2. render each birthday as a row
                        1 cell for name, 1 cell for birthday. row using <tr> cell using <td> use a loop-->
                        {% for person in people %}
                        <tr>
                            <td>{{ person.name }}</td>
                            <td>{{ person.month }}/{{ person.day }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
